.pageContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  text-align: center;
  padding: 20px;
  background-color: black;
}

.button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-shadow:
    0 0 10px #00ff00,
    0 0 20px #00ff00;
  box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7);
  transition: background-color 0.3s ease;
}

.timer {
  font-size: 96px;
  color: white;
  margin-top: 20px;
}

.subtitlesContainer {
  color: white;
  background-color: black;
  padding: 10px;
}

.subtitle {
  color: gray;
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitleActive {
  color: white;
  font-size: 96px;
}

.wordHighlighted {
  color: yellow;
  text-shadow:
    0 0 10px #ffd700,
    0 0 20px #ffd700,
    0 0 30px #ffa500,
    0 0 40px #ffa500;
  font-weight: bold;
}

.finishedMessage {
  font-size: 64px;
  color: gold;
  margin-top: 20px;
}

.buttonChangeSong {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background-color: transparent; 
  border: 2px solid white; 
  color: white; 
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 5px; 
  font-size: 16px; 
  transition: background-color 0.3s; 
  z-index: 10; 
}

.buttonChangeSong:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

