.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 0;
  width: 100vw;
  z-index: 100;
  background-color: transparent; 
  padding: 10px; 
  display: flex; 
  align-items: center; 
}

.nav-title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%); 
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 4%;
  font-family: 'Train One', cursive;
  text-shadow: 0 0 10px rgba(255, 240, 120, 0.8);
}

.nav-buttons {
  position: absolute;
  top: 3rem;
  right: 1rem;
}

.custom-button {
  background-color: transparent; 
  border: 2px solid white; 
  color: white; 
  font-size: 1rem; 
  transition:
    background-color 0.3s ease,
    color 0.3s ease; 
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  color: white; 
}

.logout-button {
  border-color: red; 
}

.logout-button:hover {
  background-color: rgba(255, 0, 0, 0.2); 
  color: red;
}
