.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  height: 100vh; /* Занять всю высоту экрана */
}

.tableContainer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Занимает всю ширину */
  max-width: 800px; /* Максимальная ширина для центрирования */
  display: flex; /* Flexbox для центрирования */
  flex-direction: column; /* Вертикальная ориентация */
  align-items: center; /* Центрирование по горизонтали */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table th {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.table td {
  color: white;
}

.table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
