.container {
  background-color: #000;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.lampStyle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25%;
  background-image: url('../../RegLamps.png');
  background-repeat: repeat-x;
  background-size: contain;
  filter: brightness(var(--brightness));
  transition: filter 0.3s ease;
}

.bottomLampStyle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-image: url('../../RegLamps.png');
  background-repeat: repeat-x;
  background-size: contain;
  filter: brightness(var(--brightness));
  transform: scaleY(-1);
  transition: filter 0.3s ease;
}

.glowingBox {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px 5px rgba(226, 189, 94, 0.6);
  transition: box-shadow 0.3s ease;
  width: 300px;
  margin: 0 auto;
}

.glowingBox:hover {
  box-shadow: 0 0 30px 10px rgba(255, 220, 131, 0.9);
}
.centerText {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 4%;
}

.inputStyle {
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  border-radius: 2%;
  margin-bottom: 4%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.buttonPrimary {
  display: block;
  width: 100%;
  height: 8vh;
  font-size: 1.5rem;
  border-radius: 15px;
  background: linear-gradient(105deg, #ffcc00, #ff9900);
  border: none;
  color: white;
}

.buttonSecondary {
  display: block;
  width: 100%;
  height: 8vh;
  font-size: 1.5rem;
  border-radius: 15px;
  background: linear-gradient(105deg, #d3d3d3, #a9a9a9);
  border: none;
  color: white;
}
