.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  justify-content: flex-start; /* Вертикальное начало */
  height: 100vh; /* Занять всю высоту экрана */
}

.contentContainer {
  display: flex;
  flex-direction: column; /* Вертикальная ориентация */
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  flex-grow: 1; /* Позволяет контейнеру занимать оставшееся пространство */
}

.gridItem {
  display: flex; /* Flexbox для элементов сетки */
  justify-content: center; /* Центрирование элементов в сетке */
  margin-bottom: 20px; /* Отступ между карточками */
}

.casset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.cassetImg {
  width: 250px;
}
